:root {
  --logo-black-color: #000000;
  --text-color: #212121;
  --background-herofoot-color: #2f303a;
  --link-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --team-background: #f5f4fa;
  --svg-color: #afb1b8;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--link-color);
  margin: 0px;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

section {
  padding: 60px 0;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  section {
    padding: 94px 0;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 60px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .container__header {
    justify-content: space-between;
  }
}

.logo {
  font-family: Raleway;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--logo-black-color);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-right: 93px;
  }
}

.logo-color {
  color: var(--accent-color);
}

.nav-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav-btn:hover, .nav-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
}

.nav-btn .icon-cross {
  display: none;
}

.nav-btn.is-open .icon-cross {
  display: block;
}

.nav-btn.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    z-index: 10;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    padding-left: 40px;
    margin-bottom: 302px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    padding-left: 0px;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-list__item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list__link {
  display: block;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--text-color);
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav-list__link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}

.nav-list__link--current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav-list__link--current::after {
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
}

.header-contact {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-contact {
    flex-direction: column-reverse;
    padding-left: 40px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact {
    display: block;
    margin-left: 84px;
    margin-bottom: -10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contact__link {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
}

.header-contact__link:hover .header-contact__icons,
.header-contact__link:focus .header-contact__icons {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-contact__link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .header-contact__link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}

@media screen and (max-width: 767px) {
  .header-contact__link--mobile {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--accent-color);
    margin-bottom: 32px;
  }
}

.header-contact__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contact__icon {
    display: block;
    fill: var(--link-color);
    margin-right: 10px;
  }
  .header-contact__link:hover .header-contact__icon,
  .header-contact__link:focus .header-contact__icon {
    fill: var(--accent-color);
  }
}

.header-socials {
  display: flex;
  padding-left: 40px;
}

@media screen and (min-width: 768px) {
  .header-socials {
    display: none;
  }
}

.header-socials__item {
  color: var(--accent-color);
}

.header-socials__item:not(:last-child) {
  margin-right: 20px;
}

.header-socials__item:not(:last-child)::after {
  content: "\007C";
  color: var(--link-color);
  padding-left: 10px;
}

.header-socials__link {
  color: var(--accent-color);
}

.hero {
  padding: 0px;
  margin: 0 auto;
  max-width: 480px;
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--background-herofoot-color);
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-mobile-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-tablet-1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-tablet-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroimg.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-desktop-2x.jpg");
  }
}

.hero_active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

@media screen and (min-width: 1200px) {
  .hero_active {
    height: 600px;
  }
}

.hero__title {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 360px;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    font-weight: 900;
    max-width: 696px;
  }
}

.hero__button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-weight: 700;
  padding: 10px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  min-width: 200px;
  background: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.about-title {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .about-list__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .about-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about-list__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .about-list__title {
    text-align: left;
  }
}

.about-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
}

@media screen and (max-width: 1999px) {
  .section--no-padding-top {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section--no-padding-top {
    display: contents;
    display: block;
    padding-bottom: 94px;
    padding-top: 0px;
  }
}

.section__title {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 50px;
}

.projects-list {
  display: flex;
  justify-content: center;
}

.projects-list__item:not(:last-child) {
  margin-right: 30px;
}

.projects-list__wrap {
  position: relative;
}

.projects-list__imgtext {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 14px;
  line-height: 17;
  letter-spacing: 0.03em;
  font-weight: 700;
  height: 70px;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
}

.section--grey-background {
  background-color: var(--team-background);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-list_icon {
  width: 100%;
  height: 460px;
}

@media screen and (min-width: 768px) {
  .team-list_icon {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list_icon {
    height: 260px;
  }
}

.team-list__wrap {
  padding: 30px 0;
}

.team-list__title {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: var(--svg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--white-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list__item {
  width: calc((100% - 2 * 30px) / 2);
  height: 92px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--svg-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: var(--svg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--background-herofoot-color);
  padding: 60px 0;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    align-items: baseline;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    display: block;
    flex-grow: 1;
    margin-bottom: 0px;
    margin-left: 0;
  }
}

.footer-contacts__logo {
  display: inline-block;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--white-color);
  text-decoration: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts__logo {
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
}

.footer-contacts__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--white-color);
}

@media screen and (max-width: 1999px) {
  .footer-contacts__list {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts__list {
    text-align: left;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts__link {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__link--white {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--white-color);
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-socials {
    display: flex;
    align-self: baseline;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    display: block;
    margin-left: 70px;
    margin-right: 93px;
    margin-bottom: 0px;
  }
}

.footer-socials__title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer-socials__list {
  display: flex;
}

.footer-socials__item {
  width: 44px;
  height: 44px;
}

.footer-socials__item + .footer-socials__item {
  margin-left: 10px;
}

.footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-color);
}

.footer-socials__icon {
  fill: var(--white-color);
}

.footer-socials__link:hover .footer-socials__icon,
.footer-socials__link:focus .footer-socials__icon {
  fill: var(--white-color);
}

.footer-subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-subscribe {
    align-self: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    align-self: baseline;
    align-items: flex-start;
    width: auto;
  }
}

.footer-subscribe__title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer-subscribe__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .footer-subscribe__wrap {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__wrap {
    flex-direction: row;
  }
}

.footer-subscribe__email {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .footer-subscribe__email {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer-subscribe__email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__email {
    width: 358px;
    margin: 0;
  }
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--white-color);
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe-btn {
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer-subscribe-btn__icon {
  fill: var(--white-color);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition: opacity 450ms cubic-bezier(0.4, 0, 0.2, 1), visibility 450ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden .modal {
  transform: scale(0.25) skew(45deg);
}

.modal {
  padding: 40px;
  top: 65%;
  left: 50%;
  background-color: var(--white-color);
  border-radius: 4px;
  position: absolute;
  transform: scale(1) skew(0deg) translate(-50%, -50%);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
    top: 70%;
    left: 50%;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.modal-close__img {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
}

.modal-form__wrap {
  position: relative;
}

.modal-form__wrap:not(:nth-child(4n)) {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  font-weight: 400;
  margin-bottom: 4px;
}

@media screen and (min-width: 1200px) {
  .modal-form__label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    font-weight: 400;
  }
}

.modal-form__box {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-right: 42px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  left: 576px;
  top: 450px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-right: 12px;
  padding-left: 12px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:focus {
  border-color: var(--accent-color);
}

.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-terms {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-terms__input:checked + .modal-terms__text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-terms__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--link-color);
}

@media screen and (min-width: 1200px) {
  .modal-terms__text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-weight: 400;
  }
}

.modal-terms__text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--logo-black-color);
  margin-right: 8px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-terms__icon {
  fill: var(--white-color);
}

.modal-terms__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-button {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  color: var(--white-color);
  min-width: 200px;
  background: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .btn-list {
    margin-bottom: 40px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .btn-list {
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }
}

.btn-list__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.btn-list__btn {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: center;
  color: var(--text-color);
}

.examples-list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .examples-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.examples-item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .examples-item {
    width: calc((100% - 2 * 30px) / 2);
  }
  .examples-item:nth-child(n + 8) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .examples-item {
    flex-grow: 1;
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .examples-item:nth-child(n + 7) {
    margin-bottom: 0;
  }
}

.examples-item__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-item__link:hover, .examples-item__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.examples-item__wrap {
  position: relative;
  overflow: hidden;
}

.examples-item__imgtext {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 77px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.examples-item__link:hover .examples-item__imgtext,
.examples-item__link:focus .examples-item__imgtext {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .examples-item__imgtext {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .examples-item__imgtext {
    padding: 63px 24px;
  }
}

.cardtext {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cardtext {
    height: 145px;
  }
}

.cardtext__header {
  font-family: inherit;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-style: 400;
  color: var(--text-color);
  margin-bottom: 4px;
}

.cardtext__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--link-color);
}
/*# sourceMappingURL=main.css.map */