.about-title {
  overflow: hidden;
}

.about-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.about-list__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.about-list__box {
  @include flexjc-center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.about-list__title {
  @include font(14px, 1.14, 0.03em, 700);
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.about-list__text {
  @include font(14px, 1.71, 0.03em, 400);
}
