.footer {
  background-color: var(--background-herofoot-color);
  padding: 60px 0;
}
.footer-wrap {
  flex-direction: column;
  display: flex;
  align-items: center;

  @media screen and(min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and(min-width: 1200px) {
    // flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
  }
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    display: block;
    margin-bottom: 0px;
    margin-left: 0;
  }
}
.footer-contacts__logo {
  display: inline-block;
  font-family: Raleway;
  @include font(24px, 1.2, 0.03em, 700);
  color: var(--white-color);
  text-decoration: none;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    @include font(26px, 1.2, 0.03em, 700);
  }
}
.footer-contacts__list {
  font-style: normal;
  @include font(14px, 1.71, 0.03em, 400);
  color: var(--white-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.footer-contacts__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}
.footer-contacts__link {
  font-family: inherit;
  font-style: normal;
  @include font(14px, 1.71, 0.03em, 400);
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts__link--white {
  font-family: inherit;
  font-style: normal;
  @include font(14px, 1.71, 0.03em, 400);
  color: var(--white-color);
}
.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    align-self: baseline;
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    display: block;
    margin-left: 70px;
    margin-right: 93px;
    margin-bottom: 0px;
  }
}
.footer-socials__title {
  @include font(14px, 16px, 0.03em, 700);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}
.footer-socials__list {
  display: flex;
}
.footer-socials__item {
  width: 44px;
  height: 44px;
}
.footer-socials__item {
  & + & {
    margin-left: 10px;
  }
}
.footer-socials__link {
  @include flexjc-center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: hsla(0, 100%, 100%, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-socials__icon {
  fill: var(--white-color);
  .footer-socials__link:hover &,
  .footer-socials__link:focus & {
    fill: var(--white-color);
  }
}
.footer-subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    align-self: center;
  }
  @media screen and (min-width: 1200px) {
    align-self: baseline;
    align-items: flex-start;
    width: auto;
  }
}

.footer-subscribe__title {
  @include font(14px, 16px, 0.03em, 700);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}
.footer-subscribe__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.footer-subscribe__email {
  display: flex;
  align-items: center;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
    margin: 0 auto 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 0;
  }
}
.footer-subscribe-btn {
  @include flexjc-center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  font-family: Roboto;
  @include font(16px, 30px, 0.03em, 700);
  color: var(--white-color);
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 12px;
  }
}
.footer-subscribe-btn__icon {
  fill: var(--white-color);
  margin-left: 10px;
}
