.header {
  border-bottom: 1px solid #ececec;
}
.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
.logo {
  font-family: Raleway;
  @include font(24px, 28px, 0.03em, 700);
  color: var(--logo-black-color);
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    @include font(26px, 1.2, 0.03em, 700);
    margin-right: 93px;
  }
}
.logo-color {
  color: var(--accent-color);
}

.nav-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.nav-btn .icon-cross {
  display: none;
}

.nav-btn.is-open .icon-cross {
  display: block;
}

.nav-btn.is-open .icon-menu {
  display: none;
}

.nav-list {
  display: flex;
  padding-left: 0px;
}
.nav-list__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.nav-list__link {
  display: block;
  padding: 32px 0;
  @include font(14px, 1.14, 0.02em, 500);
  color: var(--text-color);
  position: relative;
}
.nav-list__link--current {
  color: var(--accent-color);
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
}
.header-contact {
  margin-left: auto;
  display: flex;
}
.header-contact__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.header-contact__link {
  display: flex;
  align-items: center;
  @include font(14px, 1.14, 0.02em, 500);
  color: var(--link-color);
  text-decoration: none;
  &:hover .header-contact__icons,
  &:focus .header-contact__icons {
    color: var(--accent-color);
  }
}
.header-contact__icon {
  fill: var(--link-color);
  margin-right: 10px;
  .header-contact__link:hover &,
  .header-contact__link:focus & {
    fill: var(--accent-color);
  }
}
