.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition: opacity 450ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 450ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden .modal {
    transform: scale(0.25) skew(45deg);
  }

  overflow-y: scroll;
}
.modal {
  padding: 40px;
  top: 50%;
  left: 50%;

  background-color: var(--white-color);
  border-radius: 4px;
  position: absolute;
  transform: scale(1) skew(0deg) translate(-50%, -50%);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-close {
  @include flexjc-center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;

  cursor: pointer;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal-close__img {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  font-family: Roboto;
  font-style: normal;
  @include font(20px, 30px, 0.03em, 700);
  text-align: center;
  color: var(--text-color);
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    @include font(20px, 23px, 0.03em, 700);
  }
}
.modal-form__wrap {
  position: relative;
  &:not(:nth-child(4n)) {
    margin-bottom: 10px;
  }
}
.modal-form__label {
  display: block;
  font-family: Roboto;
  font-style: normal;
  @include font(12px, 14px, 0.01em, 400);
  margin-bottom: 4px;

  @media screen and (min-width: 1200px) {
    @include font(12px, 14px, 0.03em, 400);
  }
}
.modal-form__box {
  position: relative;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-right: 42px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  left: 576px;
  top: 450px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-right: 12px;
  padding-left: 12px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-terms {
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal-terms__input {
  &:checked + .modal-terms__text span {
    background-color: var(--accent-color);
    border: none;
  }
}
.modal-terms__text {
  @include flexjc-center;
  align-items: center;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--link-color);

  @media screen and (min-width: 1200px) {
    @include font(14px, 24px, 0.03em, 400);
  }

  span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--logo-black-color);
    margin-right: 8px;
    border-radius: 2px;
    @include flexjc-center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-terms__icon {
  fill: var(--white-color);
}
.modal-terms__link {
  // display: inline-block;
  color: var(--accent-color);
  text-decoration: underline;
}
.modal-button {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  @include font(16px, 1.9, 0.06em, 700);
  text-align: center;
  padding: 10px;
  color: var(--white-color);
  min-width: 200px;
  background: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
