.btn-list {
  @include flexjc-center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }
}

.btn-list__item {
  &:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.btn-list__btn {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  @include font(16px, 1.62, 0.03em, 500);
  text-align: center;
  color: var(--text-color);
}
